body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 2rem;
  background: #36148f;
<<<<<<< Updated upstream
    color: #1d1b80;
=======
    color: #292792;
>>>>>>> Stashed changes
    style: data-theme="dark"
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #36148f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ol {
  list-style: bold;
  padding: 3rem;
  display: flex;
  gap: 2rem;
}
nav ol li a {
  text-decoration: bold;
<<<<<<< Updated upstream
  text: #490909;
=======
  text: #300808;
>>>>>>> Stashed changes
  font-weight: bold;
}
/* Default Light Theme */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}
/* Dark Theme Class */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}
/* Button Styling */
.theme-btn {
    background: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}